USE [master]
GO
/****** Object:  Database [FINAL_ONLINE_MEDICAL_BOOKING_DATA]    Script Date: 7/24/2025 11:54:32 PM ******/
CREATE DATABASE [FINAL_ONLINE_MEDICAL_BOOKING_DATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FINAL_ONLINE_MEDICAL_BOOKING_DATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FINAL_ONLINE_MEDICAL_BOOKING_DATA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FINAL_ONLINE_MEDICAL_BOOKING_DATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FINAL_ONLINE_MEDICAL_BOOKING_DATA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FINAL_ONLINE_MEDICAL_BOOKING_DATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FINAL_ONLINE_MEDICAL_BOOKING_DATA]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](255) NULL,
	[ROLE] [varchar](10) NOT NULL,
	[CREATE_AT] [datetime] NULL,
	[TYPE] [varchar](50) NULL,
	[FULLNAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTS]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROFILE] [int] NULL,
	[DOCTOR_ID] [int] NULL,
	[APPOINTMENT_DATE] [date] NULL,
	[APPOINTMENT_TIME] [nvarchar](20) NULL,
	[STATUS] [varchar](20) NULL,
	[SPECIALTY_ID] [varchar](20) NULL,
	[CURRENT_STATUS] [nvarchar](200) NULL,
	[DATE_OF_MONTH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINIC_SERVICES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC_SERVICES](
	[LICNIC_ID] [varchar](20) NOT NULL,
	[SERVICE_ID] [nvarchar](20) NOT NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
 CONSTRAINT [UQ_CLINIC_SERVICE] UNIQUE NONCLUSTERED 
(
	[LICNIC_ID] ASC,
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINICS]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINICS](
	[LICNIC_ID] [varchar](20) NOT NULL,
	[NAME_CLINIC] [nvarchar](200) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[DOCTOR_PRO_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LICNIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTOR_PROFILES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR_PROFILES](
	[DOCTOR_PRO_ID] [int] NOT NULL,
	[PHONE] [varchar](20) NULL,
	[SPECIALTY_ID] [varchar](20) NULL,
	[HOSPITAL_ID] [varchar](20) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[DOCTOR_NAME] [nvarchar](100) NULL,
	[GENDER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTOR_PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL_SERVICES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL_SERVICES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOSPITAL_ID] [varchar](20) NOT NULL,
	[SERVICE_ID] [nvarchar](20) NOT NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HOSPITAL_SERVICE] UNIQUE NONCLUSTERED 
(
	[HOSPITAL_ID] ASC,
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITALS]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITALS](
	[ID] [varchar](20) NOT NULL,
	[NAME] [nvarchar](150) NOT NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[TYPE] [varchar](20) NULL,
	[IMG_SRC] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_SERVICES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_SERVICES](
	[MEDICAL_SERVICE_ID] [nvarchar](20) NOT NULL,
	[NAME_SERVICES] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDICAL_SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NAME_SERVICES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCTOR_ID] [int] NULL,
	[DAY_OF_WEEK] [varchar](10) NULL,
	[STATUS] [nvarchar](50) NULL,
	[MONTH] [int] NULL,
	[DATE_OF_MONTH] [date] NULL,
	[PRICES_DOCTOR] [decimal](10, 2) NULL,
	[START_TIME] [time](7) NULL,
	[END_TIME] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SCHEDULES_DOCTOR_DAY_DATE] UNIQUE NONCLUSTERED 
(
	[DOCTOR_ID] ASC,
	[DAY_OF_WEEK] ASC,
	[DATE_OF_MONTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECIALTIES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALTIES](
	[SPECIALTY_ID] [varchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[HOSP_ID] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SPECIALTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HOSPITAL_SPECIALTY] UNIQUE NONCLUSTERED 
(
	[HOSP_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILES]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILES](
	[USER_ID] [int] NOT NULL,
	[PHONE] [varchar](20) NULL,
	[GENDER] [varchar](10) NULL,
	[BIRTH_DATE] [date] NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[ETHNIC] [nvarchar](20) NULL,
	[CCCD] [nvarchar](20) NULL,
	[ID_PROFILE] [int] IDENTITY(1,1) NOT NULL,
	[JOB] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROFILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XAPHUONG]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XAPHUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DIACHI] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[APPOINTMENTS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[CLINIC_SERVICES] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[HOSPITAL_SERVICES] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENTS_DOCTOR] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR_PROFILES] ([DOCTOR_PRO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_APPOINTMENTS_DOCTOR]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENTS_SPECIALTY] FOREIGN KEY([SPECIALTY_ID])
REFERENCES [dbo].[SPECIALTIES] ([SPECIALTY_ID])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_APPOINTMENTS_SPECIALTY]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENTS_USER] FOREIGN KEY([ID_PROFILE])
REFERENCES [dbo].[USER_PROFILES] ([ID_PROFILE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_APPOINTMENTS_USER]
GO
ALTER TABLE [dbo].[CLINIC_SERVICES]  WITH CHECK ADD  CONSTRAINT [FK_CS_CLINIC] FOREIGN KEY([LICNIC_ID])
REFERENCES [dbo].[CLINICS] ([LICNIC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLINIC_SERVICES] CHECK CONSTRAINT [FK_CS_CLINIC]
GO
ALTER TABLE [dbo].[CLINIC_SERVICES]  WITH CHECK ADD  CONSTRAINT [FK_CS_SERVICE] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[MEDICAL_SERVICES] ([MEDICAL_SERVICE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLINIC_SERVICES] CHECK CONSTRAINT [FK_CS_SERVICE]
GO
ALTER TABLE [dbo].[CLINICS]  WITH CHECK ADD  CONSTRAINT [FK_CLINICS_DOCTOR] FOREIGN KEY([DOCTOR_PRO_ID])
REFERENCES [dbo].[DOCTOR_PROFILES] ([DOCTOR_PRO_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CLINICS] CHECK CONSTRAINT [FK_CLINICS_DOCTOR]
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_ACCOUNT] FOREIGN KEY([DOCTOR_PRO_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES] CHECK CONSTRAINT [FK_DOCTOR_ACCOUNT]
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_HOSPITAL] FOREIGN KEY([HOSPITAL_ID])
REFERENCES [dbo].[HOSPITALS] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES] CHECK CONSTRAINT [FK_DOCTOR_HOSPITAL]
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_SPECIALTY] FOREIGN KEY([SPECIALTY_ID])
REFERENCES [dbo].[SPECIALTIES] ([SPECIALTY_ID])
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES] CHECK CONSTRAINT [FK_DOCTOR_SPECIALTY]
GO
ALTER TABLE [dbo].[HOSPITAL_SERVICES]  WITH CHECK ADD  CONSTRAINT [FK_HS_HOSPITAL] FOREIGN KEY([HOSPITAL_ID])
REFERENCES [dbo].[HOSPITALS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOSPITAL_SERVICES] CHECK CONSTRAINT [FK_HS_HOSPITAL]
GO
ALTER TABLE [dbo].[HOSPITAL_SERVICES]  WITH CHECK ADD  CONSTRAINT [FK_HS_SERVICE] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[MEDICAL_SERVICES] ([MEDICAL_SERVICE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOSPITAL_SERVICES] CHECK CONSTRAINT [FK_HS_SERVICE]
GO
ALTER TABLE [dbo].[SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULES_DOCTOR] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR_PROFILES] ([DOCTOR_PRO_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SCHEDULES] CHECK CONSTRAINT [FK_SCHEDULES_DOCTOR]
GO
ALTER TABLE [dbo].[SPECIALTIES]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALTIES_HOSP] FOREIGN KEY([HOSP_ID])
REFERENCES [dbo].[HOSPITALS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPECIALTIES] CHECK CONSTRAINT [FK_SPECIALTIES_HOSP]
GO
ALTER TABLE [dbo].[USER_PROFILES]  WITH CHECK ADD  CONSTRAINT [FK_USER_PROFILES_ACCOUNT] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_PROFILES] CHECK CONSTRAINT [FK_USER_PROFILES_ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD CHECK  (([ROLE]='doctor' OR [ROLE]='admin' OR [ROLE]='user'))
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD CHECK  (([STATUS]='completed' OR [STATUS]='cancelled' OR [STATUS]='confirmed' OR [STATUS]='pending'))
GO
ALTER TABLE [dbo].[CLINIC_SERVICES]  WITH CHECK ADD CHECK  (([PRICE]>=(0)))
GO
ALTER TABLE [dbo].[DOCTOR_PROFILES]  WITH CHECK ADD CHECK  (([GENDER]='female' OR [GENDER]='male'))
GO
ALTER TABLE [dbo].[HOSPITAL_SERVICES]  WITH CHECK ADD CHECK  (([PRICE]>=(0)))
GO
ALTER TABLE [dbo].[HOSPITALS]  WITH CHECK ADD CHECK  (([TYPE]='private' OR [TYPE]='public'))
GO
ALTER TABLE [dbo].[SCHEDULES]  WITH CHECK ADD CHECK  (([DAY_OF_WEEK]='sunday' OR [DAY_OF_WEEK]='saturday' OR [DAY_OF_WEEK]='friday' OR [DAY_OF_WEEK]='thursday' OR [DAY_OF_WEEK]='wednesday' OR [DAY_OF_WEEK]='tuesday' OR [DAY_OF_WEEK]='monday'))
GO
ALTER TABLE [dbo].[USER_PROFILES]  WITH CHECK ADD CHECK  (([GENDER]='female' OR [GENDER]='male'))
GO
/****** Object:  StoredProcedure [dbo].[ADDNEWAPPOINTMENT]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADDNEWAPPOINTMENT] 
    @PROFILE_ID INT,
    @DOCTOR_ID INT,
	@SCHEDULE_ID INT
AS 
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM SCHEDULES sc
        LEFT JOIN APPOINTMENTS ap ON sc.DOCTOR_ID = ap.DOCTOR_ID
        WHERE sc.id = @SCHEDULE_ID AND sc.STATUS = 'Available'
    )
    BEGIN 
        DECLARE @APPOINTMENT_DATE DATE;

        SELECT @APPOINTMENT_DATE = DATE_OF_MONTH 
        FROM SCHEDULES 
        WHERE DOCTOR_ID = @DOCTOR_ID AND ID = @SCHEDULE_ID;

        INSERT INTO APPOINTMENTS (ID_PROFILE, DOCTOR_ID, APPOINTMENT_DATE, STATUS)
        VALUES (@PROFILE_ID, @DOCTOR_ID, @APPOINTMENT_DATE, 'pending');

        UPDATE SCHEDULES 
        SET STATUS = 'placed' 
        WHERE DOCTOR_ID = @DOCTOR_ID AND ID = @SCHEDULE_ID;

  

	/*	select SC.ID , AP.ID_PROFILE,SC.DOCTOR_ID, SC.DAY_OF_WEEK, SC.DATE_OF_MONTH,SC.PRICES_DOCTOR, SC.START_TIME, SC.END_TIME, US.FULL_NAME, SC.STATUS
		
		from SCHEDULES SC JOIN APPOINTMENTS AP 
			ON SC.DOCTOR_ID = AP.DOCTOR_ID
			JOIN USER_PROFILES US ON US.ID_PROFILE = AP.ID_PROFILE
			WHERE SC.DOCTOR_ID = AP.DOCTOR_ID AND SC.STATUS = 'placed' ORDER BY SC.ID

*/
			   SELECT @@ROWCOUNT AS affectedRows;

    END
    ELSE    
    BEGIN
       SELECT @@ROWCOUNT AS affectedRows;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNewUserAccount]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewUserAccount]
    @Email VARCHAR(100),
    @Password VARCHAR(255),
	@FullName NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Kiểm tra xem email đã tồn tại chưa
        IF EXISTS (SELECT 1 FROM ACCOUNTS WHERE EMAIL = @Email)
        BEGIN
            RAISERROR(N'Email đã tồn tại!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Nếu chưa tồn tại thì thêm mới
        INSERT INTO ACCOUNTS (FULLNAME,EMAIL, PASSWORD, ROLE)
        VALUES (@FullName,@Email, @Password, 'user');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Trả lỗi chi tiết
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ADDNEWUSERPRROFILE]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADDNEWUSERPRROFILE]
	@USER_ID INT,
	@FULL_NAME NVARCHAR(200),
	@PHONE VARCHAR(20),
	@BIRTH_DATE DATE,
	@ADDRESS NVARCHAR(200),
	@ETHNIC NVARCHAR(20),
	@CCCD NVARCHAR(20),
	@JOB NVARCHAR(50),
	@GENDER NVARCHAR(10)
	AS 
	BEGIN
	SET NOCOUNT ON;
	INSERT INTO USER_PROFILES (USER_ID,FULL_NAME,PHONE,BIRTH_DATE,ADDRESS,ETHNIC,CCCD,JOB,GENDER)
	VALUES( @USER_ID,@FULL_NAME,@PHONE,@BIRTH_DATE,@ADDRESS,@ETHNIC,@CCCD,@JOB,@GENDER);
	SELECT @@ROWCOUNT AS affectedRows;
	END;
GO
/****** Object:  StoredProcedure [dbo].[addNewUserWithAdminRole]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addNewUserWithAdminRole]
	@Full_Name NVARCHAR(200),
    @Email VARCHAR(100),
    @Password VARCHAR(255),
	 @Gender VARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Thêm vào bảng ACCOUNTS
        INSERT INTO ACCOUNTS (FULL_NAME, EMAIL, PASSWORD, ROLE)
        VALUES (@Full_Name, @Email, @Password, 'admin');

        -- Lấy ID vừa tạo (IDENTITY)
        DECLARE @NewUserID INT = SCOPE_IDENTITY();

        -- Thêm vào bảng USER_PROFILES
        INSERT INTO USER_PROFILES (USER_ID, GENDER)
        VALUES (@NewUserID,@Gender);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Trả lỗi chi tiết
        THROW;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[AddNewUserWithDoctorRoule]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[AddNewUserWithDoctorRoule]
    @FullName NVARCHAR(200),
    @Email VARCHAR(100),
    @Password VARCHAR(255),
    @Phone VARCHAR(20) = NULL,
    @Gender VARCHAR(10) = NULL,
    @BirthDate DATE = NULL,
    @Address NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Thêm vào bảng ACCOUNTS
        INSERT INTO ACCOUNTS (FULL_NAME, EMAIL, PASSWORD, ROLE)
        VALUES (@FullName, @Email, @Password, 'doctor');

        -- Lấy ID vừa tạo (IDENTITY)
        DECLARE @NewUserID INT = SCOPE_IDENTITY();

        -- Thêm vào bảng USER_PROFILES
        INSERT INTO USER_PROFILES (USER_ID, PHONE, GENDER, BIRTH_DATE, ADDRESS)
        VALUES (@NewUserID, @Phone, @Gender, @BirthDate, @Address);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Trả lỗi chi tiết
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[AddUserProfile]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserProfile]
    @USER_ID INT,
    @FullName NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Gender NVARCHAR(10),
    @Job NVARCHAR(50),
    @BirthDate DATE,
    @Address NVARCHAR(255),
    @CCCD NVARCHAR(20),
    @Ethnic NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO USER_PROFILES (
       USER_ID, PHONE,GENDER,BIRTH_DATE,ADDRESS, CCCD, ETHNIC,JOB,FULL_NAME)
		VALUES (@USER_ID, @Phone,@Gender,@BirthDate,@Address,@CCCD,@Ethnic,@Job,@FullName
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelAppointment]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CancelAppointment]
    @PROFILE_ID INT,
    @DOCTOR_ID INT,
    @SCHEDULE_ID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem cuộc hẹn có tồn tại và đang trong trạng thái 'pending' hoặc 'placed'
    IF EXISTS (
        SELECT 1
        FROM APPOINTMENTS
        WHERE ID_PROFILE = @PROFILE_ID
          AND DOCTOR_ID = @DOCTOR_ID
          AND APPOINTMENT_DATE = (
              SELECT DATE_OF_MONTH FROM SCHEDULES WHERE ID = @SCHEDULE_ID
          )
          AND STATUS IN ('pending')
    )
    BEGIN
        -- Cập nhật trạng thái cuộc hẹn thành canceled
        UPDATE APPOINTMENTS
        SET STATUS = 'cancelled'
        WHERE ID_PROFILE = @PROFILE_ID
          AND DOCTOR_ID = @DOCTOR_ID
          AND APPOINTMENT_DATE = (
              SELECT DATE_OF_MONTH FROM SCHEDULES WHERE ID = @SCHEDULE_ID
          );

        -- Cập nhật lại trạng thái của lịch khám
        UPDATE SCHEDULES
        SET STATUS = 'Available'
        WHERE ID = @SCHEDULE_ID AND DOCTOR_ID = @DOCTOR_ID;

        SELECT 'huy thanh cong' AS message, @@ROWCOUNT AS affectedRows;
    END
    ELSE
    BEGIN
        SELECT 'huy that bai' AS message, 0 AS affectedRows;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[deleteUserProfile]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteUserProfile]
	@USER_ID int, @ID_PROFILE int
	as 
	begin
	set nocount on;
	delete from USER_PROFILES where USER_ID = @USER_ID and ID_PROFILE = @ID_PROFILE;
	SELECT @@ROWCOUNT AS affectedRows;
	select * from USER_PROFILES;
	end;
GO
/****** Object:  StoredProcedure [dbo].[GetAllAppointments]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAppointments]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.ID AS AppointmentID,
        A.APPOINTMENT_DATE,
        A.APPOINTMENT_TIME,
        U.FULL_NAME AS UserName,
        D.DOCTOR_PRO_ID,
        DOC.FULL_NAME AS DoctorName,
        S.NAME AS SpecialtyName,
        A.STATUS,
        A.CURRENT_STATUS
    FROM APPOINTMENTS A
    INNER JOIN ACCOUNTS U ON A.USER_ID = U.ACCOUNT_ID
    INNER JOIN DOCTOR_PROFILES D ON A.DOCTOR_ID = D.DOCTOR_PRO_ID
    INNER JOIN ACCOUNTS DOC ON D.DOCTOR_PRO_ID = DOC.ACCOUNT_ID
    LEFT JOIN SPECIALTIES S ON A.SPECIALTY_ID = S.SPECIALTY_ID
    ORDER BY A.APPOINTMENT_DATE DESC, A.APPOINTMENT_TIME DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[getAppointmentsByUserIDAndStatus]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[getAppointmentsByUserIDAndStatus]
		@userID int,
		@status varchar(20)
		AS
		BEGIN 
		SELECT DISTINCT  SC.ID, AP.ID_PROFILE, SC.DOCTOR_ID, SC.DAY_OF_WEEK, SC.DATE_OF_MONTH,
       SC.PRICES_DOCTOR, SC.START_TIME, SC.END_TIME, US.FULL_NAME, AP.STATUS AS STATUS_APPOINTMENT, DOCP.DOCTOR_NAME, SPE.NAME AS SPECITALTYNAME, 
	   HOSP.NAME AS HOSPITALNAME
FROM SCHEDULES SC
JOIN APPOINTMENTS AP 
  ON SC.DOCTOR_ID = AP.DOCTOR_ID 
  AND SC.DATE_OF_MONTH = AP.APPOINTMENT_DATE

JOIN USER_PROFILES US ON US.ID_PROFILE = AP.ID_PROFILE JOIN DOCTOR_PROFILES DOCP ON DOCP.DOCTOR_PRO_ID = AP.DOCTOR_ID
JOIN HOSPITALS HOSP ON HOSP.ID = DOCP.HOSPITAL_ID JOIN SPECIALTIES SPE ON SPE.SPECIALTY_ID = DOCP.SPECIALTY_ID
JOIN ACCOUNTS AC ON AC.ACCOUNT_ID = US.USER_ID
 WHERE AP.STATUS = @status AND AC.ACCOUNT_ID = @userID
ORDER BY SC.ID;
	END;
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorAvailableSchedules]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorAvailableSchedules]
    @HospitalId nvarchar(20),
    @DoctorId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Giả định có bảng DOCTORS để kiểm tra bệnh viện của bác sĩ
    SELECT 
        s.DAY_OF_WEEK,
		s.DATE_OF_MONTH,
        s.START_TIME,
        s.END_TIME,
        s.STATUS
    FROM SCHEDULES s
    INNER JOIN DOCTOR_PROFILES d ON s.DOCTOR_ID = d.DOCTOR_PRO_ID
    WHERE 
        d.HOSPITAL_ID = @HospitalId
        AND d.DOCTOR_PRO_ID = @DoctorId
        AND s.STATUS = 'Available'
    ORDER BY 
        s.DAY_OF_WEEK, s.START_TIME;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsByHospitalAndSpecialty]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorsByHospitalAndSpecialty]
    @HospitalID VARCHAR(20),
    @SpecialtyID varchar(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT  distinct 
        dp.DOCTOR_PRO_ID,
        dp.DOCTOR_NAME,
		dp.GENDER,
        dp.PHONE,
        dp.DESCRIPTION,
        dp.HOSPITAL_ID,
        dp.SPECIALTY_ID,
        s.NAME AS SpecialtyName,
        h.NAME AS HospitalName
		--sc.PRICES_DOCTOR
    FROM 
      DOCTOR_PROFILES AS dp
    JOIN ACCOUNTS acc ON dp.DOCTOR_PRO_ID = acc.ACCOUNT_ID
    JOIN SPECIALTIES s ON dp.SPECIALTY_ID = s.SPECIALTY_ID
    JOIN HOSPITALS h ON dp.HOSPITAL_ID = h.ID
	--JOIN SCHEDULES sc ON DP.DOCTOR_PRO_ID = SC.DOCTOR_ID
    WHERE 
        dp.HOSPITAL_ID = @HospitalID AND
        dp.SPECIALTY_ID = @SpecialtyID 
	

END;
GO
/****** Object:  StoredProcedure [dbo].[GetSpecialtiesByHospital]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSpecialtiesByHospital]
    @HospitalID VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        sp.specialty_id AS SpecialtyID,
        sp.NAME AS SpecialtyName,
        h.ID AS HospitalID,
        h.NAME AS HospitalName,
        h.ADDRESS AS HospitalAddress,
        h.TYPE AS HospitalType
    FROM 
        SPECIALTIES sp	
    JOIN 
        HOSPITALS h ON sp.HOSP_ID = h.ID
    WHERE 
        h.ID = @HospitalID;
END;
GO
/****** Object:  StoredProcedure [dbo].[getStartEnd_timeByDoctorID]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getStartEnd_timeByDoctorID]
	@doctorID int
	AS 
	BEGIN
	SET NOCOUNT ON;
	SELECT START_TIME, END_TIME, DATE_OF_MONTH,STATUS FROM SCHEDULES WHERE DOCTOR_ID = @doctorID;
	-- SELECT @@ROWCOUNT AS affectedRows;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[GetUserProfileByID]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserProfileByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        acc.ACCOUNT_ID AS AccountID,
        usp.FULL_NAME,
        acc.EMAIL,
        acc.ROLE,
        acc.CREATE_AT,
        usp.PHONE,
        usp.GENDER,
        usp.BIRTH_DATE,
        usp.ADDRESS,
		usp.CCCD,
		usp.ETHNIC
    FROM USER_PROFILES usp
    INNER JOIN ACCOUNTS acc ON usp.USER_ID = acc.ACCOUNT_ID
    WHERE usp.USER_ID = @UserID;
END;

exec GetUserProfileByID 3
	


GO
/****** Object:  StoredProcedure [dbo].[getuserProfileWithUserID]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getuserProfileWithUserID]
	@userID int
	as
	begin
	 SET NOCOUNT ON;
		select us.USER_ID, us.FULL_NAME, AC.EMAIL, AC.ROLE, US.GENDER, US.PHONE,US.BIRTH_DATE, US.ADDRESS, US.ETHNIC, US.CCCD
		
		from ACCOUNTS ac join USER_PROFILES us on ac.ACCOUNT_ID = us.USER_ID where ac.ACCOUNT_ID = @userID;

	end;
GO
/****** Object:  StoredProcedure [dbo].[GetUserWithUserIDAndIDProfile]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserWithUserIDAndIDProfile]
	@USER_ID int,
	@ID_PROFILE int
	as
	begin

	select * from USER_PROFILES where USER_ID = @USER_ID and ID_PROFILE  =  @ID_PROFILE;
	set nocount on;
	end;

GO
/****** Object:  StoredProcedure [dbo].[SearchKeyword]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SearchKeyword]
    @Keyword NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Tìm bác sĩ
    SELECT 
        d.DOCTOR_PRO_ID AS DoctorID,
        d.DOCTOR_NAME AS DoctorName,
        s.NAME AS Specialty,
        h.NAME AS Hospital
    FROM DOCTOR_PROFILES d
    JOIN SPECIALTIES s ON d.SPECIALTY_ID = s.SPECIALTY_ID
    JOIN HOSPITALS h ON d.HOSPITAL_ID = h.ID
    WHERE d.DOCTOR_NAME COLLATE Latin1_General_CI_AI LIKE '%' + @Keyword + '%'
       OR s.NAME COLLATE Latin1_General_CI_AI LIKE '%' + @Keyword + '%'
       OR h.NAME COLLATE Latin1_General_CI_AI LIKE '%' + @Keyword + '%';

    -- Tìm bệnh viện
    SELECT 
        h.ID AS HospitalID,
        h.NAME AS HospitalName,
        h.ADDRESS
    FROM HOSPITALS h
    WHERE h.NAME COLLATE Latin1_General_CI_AI LIKE '%' + @Keyword + '%'
       OR h.ADDRESS COLLATE Latin1_General_CI_AI LIKE '%' + @Keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserProfileByID]    Script Date: 7/24/2025 11:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserProfileByID]
    @USER_ID INT,
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Gender NVARCHAR(10),
    @BirthDate DATE,
    @Address NVARCHAR(255),
    @CCCD NVARCHAR(20),
    @Ethnic NVARCHAR(50),
	@ID_PROFILE INT,
	@JOB nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật bảng USER_PROFILES
    UPDATE USER_PROFILES
    SET 
		FULL_NAME = @FullName,
        PHONE = @Phone,
        GENDER = @Gender,
        BIRTH_DATE = @BirthDate,
        ADDRESS = @Address,
        CCCD = @CCCD,
        ETHNIC = @Ethnic,
		JOB = @JOB
    WHERE USER_ID = @USER_ID and id_profile = @ID_PROFILE;
	    SELECT @@ROWCOUNT AS affectedRows;
SELECT * FROM USER_PROFILES WHERE USER_ID = @USER_ID AND ID_PROFILE = @ID_PROFILE;
END;
GO
USE [master]
GO
